
img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 5px solid black;
    padding: 10px;
    position: absolute;
    display: block;
    margin-left: auto;
    top: -60px;
    background-color: black;
}

.pequena{
    height: 50px;
    width:50px;
}

.container-product{
    margin-top: 200px;
}

.card{
    border: 5px solid black !important;
}

.title_all{
    font-size: 3rem;
}

